/* On traite le style de la balise <body> : précisement lui attribuer un
un arrière-plan*/
body{
  background-image: url("./img/background1.jpg"); /*Récupère le lien d'où se trouve l'image*/
  background-repeat: repeat; /*Autoriser l'image à se répeter*/
}

/*Identifiant titre qui refère au titre de la page d'accueil*/
#titre{
  text-shadow: 2px 2px black;/*Définition de l'ombre pour le titre*/
  text-align: center;/*Positionnement du titre*/
}

/*Représente l'icone home*/
.glyphicon-home{
  padding-top: 30px;/*L’espacement en hauteur entre la boîte(div) de remplissage et l’élément(icône home) y contenant*/
  font-size: 130%;/*Agrandissement de l’icône à 130%*/
}

/*Représente l'icone utilisateur*/
.glyphicon-user{
  padding-top: 30px;
  font-size: 130%;
}

/*Représente l'icone rechercher*/
.glyphicon-search{
  padding-top: 30px;
  margin-left: 15px;/*Marge partant de la gauche de 15px. Si on ne rajoute pas ça, l’icône va se trouver au niveau de l’icône home*/
  font-size: 130%;
}

/*Pour les boutons*/
.btn{
  border-radius: 100px;
}

/*Mettre en avant du contenu (notre texte)*/
.jumbotron {
  /*margin-left: 290px;*/
  /*margin-right: 450px;*/
  text-align: center; /*Aligne le texte que contient la box*/
  padding-top: 1px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: rgba(245, 245, 245, 0.7); /*Concerne la couleur arrière plan de la box*/
  border-radius: 5%; /*Arrondir les bordures à 5%*/
  box-shadow: 2px 2px 5px black; /*Définition de l’ombre pour la box*/

}

/*Utilisation d'une classe représentant le smiley :) grâce à l'importation du lien https://afeld.github.io/emoji-css/emoji.css*/
.em-slightly_smiling_face{
  font-size: 12px;
}

/*Utilisation d'une classe représentant un map grâce à l'importation du lien https://afeld.github.io/emoji-css/emoji.css*/
.em-world_map{
  font-size: 12px;
}

/*Pour la barre de menu*/
.navbar{
  box-shadow: 2px 2px 5px black; /*Définition de l’ombre pour la barre de menu (la box navbar) */
  background-color: rgba(245, 245, 245, 0.92);
}

/*Redéfinition de la taille de l'icone rechercher grâce à l'identifiant search*/
#search{
  font-size: 7px;
}

/*Sous ligner le titre de jumbotron "En quoi consiste le jeu ?" grâce à l'identifiant titleGame*/
#titleGame{
  text-decoration: underline;
}

/*Le contenue du jumbotron : l'explication du jeu a pour taille 14px et est justifié grâce à l'identifiant explain*/
#explain{
  font-size: 14px;
  text-align: justify;
}

/*Définition de l'ombre des boutons "Se connecter" et "Essayer une démo" grâce à l'identifiant middle*/
#middle{
  box-shadow: 2px 2px 5px black;
}

/*Espacement des div dans lesquelles sont inclues les boutons "Se connecter" et "Essayer une démo" grâce à l'identifiant bouton*/
#bouton{
  padding-top: 20px;
}

/*Définition de bordure d'une table, ici pour le calendrier*/
.table-bordered{
  box-shadow:2px 2px 5px black;
  border-radius: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #faeacf;
}

.modal-content{
  background-color: rgba(245, 245, 220, 0.90);
}

.modal-body{
  background-image: url("./img/worldopacity.jpg");
}


/*<!--A rajouter dans la maquette -->
<!--button class="btn" title="Accueil"-->
<!-- On peut avoir deux fois la classe container ? -->
*/
